.content{
    position: relative;
    display: flex;
    margin: 0px 10px;
    font-size: 18px;
    color: white;
    align-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}

.content_stroke{
    margin: 0px 10px;
    font-size: 18px;
    text-decoration: line-through;
    color: gray;
}

.checkbox{
    z-index: 1;
    margin-left: 0;
    height: 21px;
    width: 21px;
    background-color: rgba(155, 155, 155, 0.692);
    border-radius: 2px;
    appearance: none;
}

.checkbox:checked{
    z-index: 1;
    margin-left: 0;
    height: 22px;
    width: 22px;
    background-color: rgba(0, 151, 50, 0.959);
    border-radius: 2px;
    appearance: none;
}

.checkbox:hover{
    z-index: 1;
    margin-left: 0;
    height: 22px;
    width: 22px;
    background-color: rgba(17, 87, 0, 0.959);
    border-radius: 2px;
    appearance: none;
}


.remove{
    padding: 0px 5px;
    height: fit-content;
    background-color: rgb(180, 46, 46);
}

.remove:hover{
    padding: 0px 5px;
    height: fit-content;
    background-color: rgb(214, 95, 95);
    border: 0;
}

.divisor{
    height: 15px;
    width: 0px;
    margin: 0px 20px;
    margin-left: 15px;
    border-color: rgba(161, 161, 161, 0.267);
}

.item{
    list-style: none;
}

 .icon{
    scale: 0.8;
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
 }

 .icon_checkbox{
    top: 0;
    left: 0;
    position: absolute;
    scale: 0.8;
    margin: 0px;
    margin-top: 1px;
    padding: 0px;
    z-index: 0;
    pointer-events: none;
 }

 .content_checkbox{
    position: relative;
 }